/* ==========================================================================
   Table of Contents
   ==========================================================================
:: Shared Styles
:: Page Name

*/

/* -----------------------------------------
   Shared Styles
   ----------------------------------------- */

html {
  background: url(/sites/all/themes/casc/images/body-bg.png)
}

body {
  background: transparent;
}

#main-menu-links {
  height: 40px;
  background: #4d4d4d;
  margin-left: 0;
  margin-top: 20px;
  padding: 0;
}

h1 {
  font-weight: normal;
}

aside {
  font-size: .85em;
  .view-display-id-block {
    border: 1px solid #e6e6e6;
    padding: 3px;
  }
  .block {
    margin-bottom: 20px;
    h2.block-title {
      font-size: 1.2em;
    }
  }
  ul {
    list-style: none;
  }
  .view-display-id-block {
    background: #ffffff;
    border: 1px solid #b6b6b6;
    padding: 5px;
  }
  .block-menu {
    ul.menu {
      background: #ffffff;
      border: 1px solid #b6b6b6;
      padding: 5px;
    }
  }
}

.fcoe-logo {
	margin-top: 20px;
	width: 175px;
}


.label {
  background: none;
  color: #222222;
  padding-left: 0;
}

.field-label {
  text-transform: uppercase;
}

footer {
  &.panel {
    margin-top: 10px;
    background: none;
    border: none;								
  }
}


.top-bar-section {
  ul li {
    a {
      font-weight: normal;
    }
  }

}

.page-node-add {
  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
}

.page-node-edit {
  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
}

table {
  width: 100%;
  tr.odd {
    background: #ffffff;
  }
  tr.even {
    background: #ffffff;
  }
}

select {
  width: auto;
}

/* -----------------------------------------
   Page Name
   ----------------------------------------- */


/** ILP Reflection Form **/
.node-ilp_reflection-form {
  .dops-group {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #b6b6b6;
    font-size: .85em;
  
    .description {
      border: 1px solid #b6b6b6;
      background: #eeeeee;
      padding: 5px;
      font-size: .9em;
      font-weight: 700;
    }
  
    .form-field-type-field-collection {
      border-bottom: 1px dashed #b6b6b6;
    
      fieldset {
        border: none;
      }
    }
  }
  .fieldset-description {
    float: left;
    width: 50%;
  }
  .question-evidence-group {
    float: right;
    width: 45%;
  }
  
}

.node-ilp_reflection-form .field-name-field-dops-question {
  .form-type-radio {
    display: inline;
  }
  .form-item {
    margin: 0 10px 0 0;
  }
}

.page-node-add-ilp-reflection {
  .block-system-help {
    ul li {
    list-style: none;
    display: inline;
    padding-right: 10px;
    }
  }
}

ul.hidden {
    display: none;
    background: #666666;
    color: #ffffff;
    opacity: 0.95;
    padding: 10px;
    box-shadow: 2px 2px 7px #666666;
    z-index: 99;
    li {
      list-style: none;
      display: inline;
      padding: 0 12px 0 0;
      font-size: .75em;
  } 
}


/** ILP Reflection View **/
.view-ilp-reflection table{
  font-size: .8em;
    tbody tr {
      th {
        width: 50%;
        vertical-align: top; 
        padding: 10px;
        .question {
          font-weight: normal;
          font-style: italic;          
        }
      }
      td {
        width: 16.6666667%;
        vertical-align: top;
        padding: 10px;
        .question {
        	display: none;
        }
      }
    }
  }

.view-ilp-reflection {
  .field-name-field-dops-evidence {
    display: none;
  }
  .field-name-field-dops-question {
  }
}

.toggler {
  cursor: pointer;
}


/** User Profile **/

.page-user .profile {
    .profile-initial {
      h1 {
        margin-bottom: 0;
      }
    }
    
    h3 {
      border: none;
      margin-bottom: .5em;
      padding-left: 5px;
      font-size: 1.2em;
    }
    .profile-pic {
      float: left;
      margin: 0 10px 0 0;
      img {
        border: 1px solid #b6b6b6;
        margin: 1px;
      }
    }
    .name {
      font-size: 44px;
    }
    .p-hide {
      display: none;
    }

    .profile-full {
      display: none;
      border: 1px solid #bbbbbb;
      background: #ffffff;
      padding: 5px;
    }
    
    .profile-documents-all {
      margin-top: 20px;
      h3 {
      }
    }
    
    .col {
      font-size: .85em;
      float: left;
      width: 33%;
      }
    .col.profile-documents {
        width: 33%;
        font-size: .75em;
	  }
    .user-picture {
      float: none;
    }
    .columns-wrap {
      padding: 5px;
    }
    
    span.file {
      display: block;
      padding: 3px 3px 3px 0;
    }
}



/** User Profile Documents Block **/

.block-views-user-documents-block .view-content {
  padding: 0;
  .views-field {
    padding: 3px 0;
    .views-label {
      font-weight: 700;
      font-size: .85em;
      text-transform: uppercase;
    }
    &.views-field-field-job-shadow-reflection {
      margin-top: 10px;
    }
    &.views-field-field-pd-application-activities {
      margin-top: 10px;
    }
    .item-list ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        line-height: 1.5em;
        margin: 0;
        padding: 3px 0;
        padding-bottom: 3px;
      }
    }
  }
}


/** User Edit Form **/
.page-user-edit {
  .addressfield-container-inline {
    .form-item {
      clear: left;
    }
  }
}




/** Coaching Logs List on User Profile **/
.page-user .view-coaching-log-list {
  margin-bottom: 25px;
  .item-list {
    border: 1px solid #b6b6b6;
    padding: 10px;
    background: #ffffff;
  }
  ul.my-list {
    float: left;
    list-style: none;
    li {
      margin: 0 3em .25em 0;
      .monthly-log-edit {
        text-transform: uppercase;
        font-size: .8em;
      }
    }
  }
}


/** User Registrations Block **/

.block .view-user-registrations {
  .views-row {
    border-bottom: 1px dashed #bbbbbb;
    padding: 10px 0;
  }
  .views-row-last {
    border-bottom: none;
  }
  
  .views-field-field-event-date {
    font-size: .75em;
    font-style: italic;
  }
  .view-header {
    .views-label {
      font-weight: 700;
      font-size: .85em;
      text-transform: uppercase;
    }
  }
  .view-display-id-attachment_1 {
    margin-top: 20px;
  }
  .views-field-nothing {
    .past-event-wrapper {
      float: left;
      width: 85%;
      .past-event-date {
        font-style: italic;
        font-size: .75em;
      }
    }
    &.attended {
      .attendance-status {
        float: right;
        width: 20px;
        height: 25px;
        text-indent: -9999px;
        background-image: url(../images/checkmark-circle.png);
        background-repeat: no-repeat;
        background-position: 0 5px; 
      }
    }
    &.did_not_attend {
      .attendance-status {
        float: right;
        width: 20px;
        height: 25px;
        text-indent: -9999px;
        background-image: url(../images/stop.png);
        background-repeat: no-repeat;
        background-position: 0 5px;
      }
    }
  }
}

/** Coach Dashboard **/
.view-candidate-entity-reference {
  .candidate-card {
    float: left;
    position: relative;
    width: 45%;
    border: 1px solid #bbbbbb;
    background: #ffffff;
    margin-bottom: 20px;
    margin-right: 10px;
      .candidate-name {
        padding: 10px 5px;
        background-color: #666666;
        font-weight: 700;
      }
      .candidate-img {
        float: left;
        width: 75px;
        height: 75px;
        margin-right: 10px;
        img {
          display: inline-block;
        }
      }
      .candidate-card-links {
        float: left;
        .link {
          padding: 2px 0;
          font-size: .85em;
        }
      }
  }
  .views-row-last {
    margin-right: 0;
  }
  &.view-display-id-block_1 .candidate-quicklist-item {
      float: left;
      display: block;
      width: 100%;
      margin-bottom: 10px;
      .candidate-image {
        float: left;
        width: 40px;
        height: 40px;
        margin-right: 5px;
        img {
          border: 1px solid #bbbbbb;
        }
      }
      .candidate-name {
        float: left;
        padding-top: .5em;
      }
  } 
}

aside .block .view-id-candidate_entity_reference {
  float: left;
  background: #ffffff;
  padding: 5px;
  border: 1px solid #b6b6b6;
}


/** Individual Leadership Plan **/
.node-individual-leadership-plan {
    .field {
      margin-bottom: 10px;
    }
    .field-collection-container {
    .field-name-field-action-plan {
      .field-label {
        margin: 10px 0 5px;
      }
      .field-collection-view {
        padding: 5px;
        margin: 0 0 20px;
        background: #ffffff;
        border: 1px solid #b6b6b6;
        .field-label {
          font-size: .85em;
        }
        .content {
          padding: 5px;
        }
        .field-collection-item-field-action-plan {
          .col1 {
            float: left;
            width: 65%;
            border-right: 1px solid #D3D7D9;
          }
          .col2 {
            float: left;
            width: 30%;
            .col2-wrap {
              margin: 10px;
              padding: 0 10px;
            }
          }
          .field-label {
            margin: 0;
            width: auto;
          }
          .field-name-field-action-plan-item-date {
            color: #b4b4b4;
            font-size: .85em;
            font-style: italic;
          }
          .field-name-field-attained {
            margin: 20px 0 0;
            font-size: 1.5em;
            font-weight: 700;
          }
          
        }
      }

    }
  }
}

#edit-field-ilp-dops-und {
  .form-type-checkbox {
    width: auto;
    display: inline;
    margin-right: 1.5em;
  }
  input.form-checkbox {
    margin: 0;
  }
}




/** Individual Leadership Plan List **/
.view-ilp-list .views-label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .85em;
}

.view-ilp-list .view-content {
  padding: 0;
  .action-plan {
    margin-bottom: 10px;
  }
  .ilp-item {
    margin: 0;
    padding: 10px;
    border: 1px solid #b6b6b6;
    background: #ffffff;
    div {
      padding: 3px 0;
    }
    .label {
      font-weight: 700;
      text-transform: uppercase;
    }
    
  }
  
  .action-plans-label {
    border: 1px solid #b6b6b6;
    background: #b6b6b6;
    color: #ffffff;
    padding: 3px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.view-ilp-action-plans {
    ul {
      margin: 0;
      padding: 0;
      li.attained-status {
        list-style: none;
        float: left;
        border-top: none;
        border-right: none;
        border-bottom: 1px solid #b6b6b6;
        border-left: 1px solid #b6b6b6;
        font-size: .7em;
        text-transform: uppercase;
        margin: 0;
        .attained {
          text-indent: -9999px;
          background-image: url(../images/checkbox-checked-noborder.png);
          background-repeat: no-repeat;
          width: 20px;
          height: 20px;
          /** background: #94d78e;
          padding: 3px 5px; **/
        }
        .in_progress {
          text-indent: -9999px;
          background-image: url(../images/checkbox-partial-noborder.png);
          background-repeat: no-repeat;
          width: 20px;
          height: 20px;
          /** background: #d86764;
          padding: 3px 5px; **/
        }
      }
      li.attained-status.views-row-last {
        border-right: 1px solid #b6b6b6;
      }
    }
}

.view-reports-ilp-listing {
  .view-ilp-action-plans {
    ul {
      li.attained-status {
      border: none;
      }
    }
  }
}


/** Events Pages **/

.page-events {
  .views-field-field-event-date {
    .field-content {
      font-size: 18px;
      font-weight: 700;
    }
  }
  .view-events {
    .views-row {
      border-top: 1px solid #fefefe;
      border-bottom: 1px solid #c8c8c8;
    }
    .views-row-first {
      border-top: none;
    }
    .views-row-last {
      border-bottom: none;
    }
  }
}

/** ILP Reflection Complete Status Block **/
.block-views-ilp-reflections-status-block {
  .views-row {
    margin-bottom: 10px;
  }
  .views-field-field-ilp-reflections-submission {
    font-weight: bold;
  }
}

/** Personal Contact Form **/
#contact-personal-form {
  .form-item-copy {
    .form-checkbox {
      margin: 0;
    }
    .description {
      margin: 1em 0;
      font-size: .75em;
      font-style: italic;
    }
  }
}


/** Admin Reports **/



.section-reports {
	.apply-reset-buttons {
		.form-submit {
			margin-top: 0
		}
	}
  .view-grouping {
    margin-bottom: 50px;
    padding: 10px;
    .view-grouping-header {
      font-size: 2em;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .view-grouping-content {
    	.view-grouping-header {
    		font-size: 1.2em;
     	}
     	.view-grouping {
     		background: #ffffff;
     		border: 1px solid #cccccc;
     	}
    }
  }
  table {
      caption {
        text-align: left;
        font-size: .9em;
        margin: 10px 0 5px;
        font-weight: 700;
      }
      td {
        font-size: .8em;
      }
      .views-field-title {
        width: 60%;
      }
      .veiws-field-field-event-date {
        width: 20%;
      }
      .views-field-field-attendance {
        width: 20%;
      }
      .views-field-created {
        width: 33%;
      }
      .views-field-field-ilp-dops {
        width: 33%;
      }
      .views-field-view {
        width: 33%;
      }
    
  }
  .view-reports-coaching-logs {
    table {
      margin-bottom: 20px;
      caption {
        text-align: left;
        padding: .5em;
        font-weight: 700;
        color: #666;
      }
      tbody {
        .coaching-log-document-field {
          width: 75%;
        }
      }
    }
  }
}